<div class="container p-4">
  <h2 class="title is-3 has-text-white"> <span class="material-icons">people</span> Manage random user profiles</h2>
</div>
<div class="container p-5">
  <div class="is-flex is-flex-direction-row is-justify-content-center">
    <div class="field has-addons">
      <div class="control is-large">
        <input class="input" type="text" placeholder="Filter by names" (change)="filterUsers()" [formControl]="searchInput">
      </div>
      <div class="control">
        <a (click)="resetSearch()" class="button is-info">
          Reset
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container p-5" *ngIf="(usersList | async) as users">
  <div class="is-flex is-flex-direction-row is-flex-wrap-wrap">
    <div class="column is-3" *ngFor="let user of users">
      <app-user-profile [UserInfo]="user"></app-user-profile>
    </div>
    <div class="column is-3">
      <div class="card has-text-white add-profile-card">
        <div class="card-content">
          <div class="content is-flex is-justify-content-center">
            <a (click)="getNewUserInstantly()" class="has-text-white">
              <span class="material-icons add-profile-card__add-button">person_add</span></a>
          </div>
          <h3 class="title is-4 has-text-white has-text-centered">Add Profile</h3>
        </div>
      </div>
    </div>
  </div>
</div>
